<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-800 flex flex-col">
    <nav class="bg-white shadow-md py-4 px-4">
      <div class="container mx-auto flex justify-between items-center">
        <div>
          <p class="text-lg font-semibold">User: {{ user.username }}</p>
          <p class="text-sm text-gray-600">Role: {{ user.role }}</p>
        </div>
        <div>
          <a
            href="{% url 'list_categories' %}"
            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
            >Back to Categories</a
          >

          <a
            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
            href="{% url 'add_product' category.id %}"
            >Add Product</a
          >

          <a
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
            href="{% url 'logout' %}"
            >Logout</a
          >
        </div>
      </div>
    </nav>
    <div class="container mx-auto mt-8">
      <h1 class="text-2xl font-bold mb-4">Products in {{ category.name }}</h1>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in products %}
        <li class="bg-white p-6 rounded-lg shadow-md">
          {% if product.image_url %}
          <img
            src="{{ product.image_url }}"
            alt="{{ product.title }}"
            class="w-full h-48 object-cover mb-4 rounded"
          />
          {% endif %}
          <h2 class="text-xl font-semibold mb-2">{{ product.title }}</h2>
          <p class="text-gray-700 mb-2">{{ product.description }}</p>
          <p class="text-gray-700 mb-2">
            <strong>Quantity:</strong> {{ product.quantity }}
          </p>
          <p class="text-gray-700 mb-4">
            <strong>Color:</strong> {{ product.color }}
          </p>
          <div class="flex justify-start gap-4">
            <a
              href="{% url 'update_product' product.id %}"
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
              >Update</a
            >
            <a
              href="{% url 'delete_product' product.id %}"
              class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
              >Delete</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
