<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Home</title>
  </head>
  <body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Your role: {{ user.role }}</p>
    <a href="#">View Cart ({{ cart_count }})</a>

    <h2>Products</h2>
    <ul>
      {% for product in products %}
      <li>
        <a href="{% url 'add_to_cart' product.id %}"
          >Title: {{ product.title }}</a
        >
        <p>Description: {{ product.description }}</p>
        <p>Category {{ product.category }}</p>
        <img src="{{ product.image_url }}" alt="{{ product.title }}" />
        <p>Quantity: {{ product.cart_quantity }}</p>

        {% if product.cart_quantity > 0 %}
        <a href="{% url 'remove_from_cart' product.id %}">Remove from cart</a>
        {% else %}
        <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
